# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# App Uploads & Outputs
backend/uploads/*
!backend/uploads/.gitkeep
backend/processed/*
!backend/processed/.gitkeep
backend/output/*
!backend/output/.gitkeep

# Credentials & Secrets
client_secret*.json
*.json.json
token.json
*.pem


# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
